/* 
header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menu li {
  margin: 0 15px;
  padding: 10px 20px;
  background-color: #61dafb;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu li:hover {
  background-color: #21a1f1;
} */
